OnlineBakery.xsd

<?xml version="1.0"?>
<!-- Converted with https://www.freeformatter.com/xsd-generator.html-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="quantity" type="xs:short"/>
  <xs:element name="unit" type="xs:string"/>
  <xs:element name="ingredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="quantity"/>
        <xs:element ref="unit"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ingredient" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="onlineOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="category" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>