OnlineBakerySupplies.xsd

<!-- Created with the help of:https://www.freeformatter.com/xsd-generator.html#ad-output-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="onlineBakeryOrders" type="onlineBakeryOrdersType"/>
  <xs:complexType name="quantityType">
    <xs:simpleContent>
      <xs:extension base="xs:short">
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="finalProductType">
    <xs:sequence>
      <xs:element type="xs:string" name="item"/>
      <xs:element name="ingredient">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute type="xs:string" name="unit" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element type="quantityType" name="quantity"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="mostwanted" use="optional"/>
  </xs:complexType>
  <xs:complexType name="sectionType">
    <xs:sequence>
      <xs:element type="finalProductType" name="finalProduct" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ingredientType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="onlineBakeryOrdersType">
    <xs:sequence>
      <xs:element type="sectionType" name="section" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>